<% if (config.disqus_shortname && page.comments){ %>
<section id="comment">
<!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread" data-thread-key="<%- config.root %><%- item.path %>" data-author-key="<%- config.author %>" data-title="<%- item.title %>"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"leiqzhang"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- Duoshuo Comment END -->
</section>
<% } %>
