<div class="widget tag">
<h3 class="title">友情链接</h3>
<ul class="entry">
<li><a href="http://blog.csdn.net/luo_brian" title="luo_brian">Luohao</a></li>
<li><a href="http://blog.csdn.net/defeattroy" title="木马屠城">Defeattroy</a></li>
<li><a href="http://www.smilgel.com/" title="听雨轩">MrSaxon</a></li>
<li><a href="http://lanbolee.com/blog/" title="博之博">Rambolee</a></li>
<li><a href="http://www.haoziyanwo.com/" title="耗子燕窝">浩子</a></li>
<li><a href="http://blog.csdn.net/u012815727" title="CloudOS">CloudOS</a></li>
</ul>
</div>
